P  {}

H1  {}

H2  {}

H3  {}

A  {}

A:Visited  {}

A:Active  {}

A:Hover  {}

BODY  {}

TABLE.exception-display TR.even  {
	top : auto;
}

TABLE.exception-display TR.odd  {
	top : auto;
	background-color : #C0C0FF;
}

TABLE.exception-display TH  {
	text-align : right;
	font-weight : bold;
}

TABLE.exception-display TD  {
	text-align : left;
	width : 100%;	
}

TABLE.exception-display TR.stack-trace  {
	font-size : small;
	font-family : sans-serif;
	text-align : left;
}

SPAN.exception-header  {
	font-size : large;
	font-weight : bold;
	color : Red;
}

SPAN.exception-message {
	font-weight: bold;
}

TABLE.request-context-border  {
	border-width : 1;
	border-color : Black;
}

SPAN.request-context-object  {
	font-size : large;
	font-family : sans-serif;
	font-weight : bold;
	text-align : left;
}

TR.request-context-section TH  {
	font-size : medium;
	font-family : sans-serif;
	font-weight : bold;
	text-align : center;
	color : White;
	background-color : Blue;
}

TR.request-context-header TH  {
	font-size : small;
	font-family : sans-serif;
	font-weight : bold;
	text-align : center;
	color : White;
	background-color : Blue;
}

TABLE.request-context-object TD
{
	width: 100%;
}

TABLE.request-context-object TR.odd TD  {
	text-align : left;
	color : Black;
	background-color : #C0C0FF;
	width: 100%;
}

TABLE.request-context-object TR.odd TH  {
	color : Black;
	background-color : #C0C0FF;
	text-align : right;
}

TABLE.request-context-object TR.even TD  {
	text-align : left;
}

TABLE.request-context-object TR.even TH  {
	text-align : right;
}

TABLE.request-context-object  {
	width : 100%;
}

TABLE.request-context-object TR  {
	vertical-align : text-top;
}

UL  {
	margin-top : 0px;
	margin-bottom : 0px;
	margin-left : 20px;
}

TABLE.exception-display TR.exception-name TD  {
	font-size : larger;
	font-weight : bold;
	text-align : center;
	background-color : Blue;
	color : White;
}

TABLE.exception-display  {
	width : 100%;
}

TABLE.exception-display TR.exception-message TD  {
	border-width : 1;
	border-color : Black;
	border-style : solid;
	padding : 2;
	text-align : left;
	font-style : italic;
}

TABLE.exception-display TR.strack-trace-label TD  {
	margin : 2;
	border-width : 1;
	border-color : Black;
	border-style : solid;
	text-align : center;
}

