<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<!-- $Id$ -->

<html>
<head>
	<title>Virtual Library: Border Template</title>
<link rel="STYLESHEET" type="text/css" href="scripts/style_virtlib_pcIE55.css">
</head>

<!-- Odd to have a span around a body, but that's just the way it is -->

<span jwcid="$content$">

<span jwcid="shell">

<body jwcid="body" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" bgcolor="#8e9cd1">

<!-- ****BODY WRAPPER**** -->
<table height="100%" width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td width="150" valign="top">
			<!-- Left Nav -->
			<table width="145" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td height="35" colspan="3">&nbsp;</td>
				</tr>
				<tr>
					<td width="19" height="22"><img jwcid="searchIcon" src="images/spacer.gif" width="14" height="12" border="0"/></td>
					<td width="89"><a jwcid="search" href="#" class="clsLeftNav">Search</a></td>
					<td width="1" valign="top" rowspan="5" bgcolor="#4B5887"><img src="images/spacer.gif" width="1" height="1" border="0"></td>
				</tr>
				<tr>
					<td height="22" valign="top"><img jwcid="myLibraryIcon" src="images/dots_leftnav.gif" width="14" height="12" border="0"/></td>
					<td><a jwcid="myLibrary" href="#" class="clsLeftNav">My Library</a>
					
					<span jwcid="ifLoggedIn"><br>
					<img src="images/dots_subleft.gif" width="7" height="10" border="0" align="absmiddle"><a jwcid="borrowed" href="#" class="clsLeftNav">Borrowed Books</a><br>
					<img src="images/dots_subleft.gif" width="7" height="10" border="0" align="absmiddle"><a jwcid="addNewBook" href="#" class="clsLeftNav">Add New Book</a><br>
					<img src="images/dots_subleft.gif" width="7" height="10" border="0" align="absmiddle"><a jwcid="editProfile" href="#" class="clsLeftNav">Edit Profile</a><br>
					</span>
					</td>
				</tr>
		<span jwcid="ifAdmin">
				<tr>
					<td height="22" valign="top"><img jwcid="adminIcon" src="images/spacer.gif" width="14" height="12" border="0"/></td>
					<td><span class="clsLeftNavTxt">Admin</span>
					
					<br>
					<img src="images/dots_subleft.gif" width="7" height="10" border="0" align="absmiddle"><a jwcid="xferBooks" href="#" class="clsLeftNav">Transfer Books</a><br>
					<img src="images/dots_subleft.gif" width="7" height="10" border="0" align="absmiddle"><a jwcid="editPublishers" href="#" class="clsLeftNav">Edit Publishers</a><br>
					<img src="images/dots_subleft.gif" width="7" height="10" border="0" align="absmiddle"><a jwcid="editUsers" href="#" class="clsLeftNav">Edit Users</a><br>
					</td>
				</tr>		
		</span>
		
				<tr>
					<td height="22"><img jwcid="loginIcon" src="images/spacer.gif" width="14" height="12" border="0"/></td>
					<td>
					
					<span jwcid="ifLoggedIn2">
						<a jwcid="logout" href="#" class="clsLeftNav">Logout</a>
					</span>
					
					<span jwcid="ifNotLoggedIn">
						<a jwcid="login" href="#" class="clsLeftNav">Login</a>
					</span>
					
					</td>
				</tr>
				<tr>
					<td height="200"><img src="images/spacer.gif" width="14" height="1" border="0"></td>
					<td>&nbsp;</td>
				</tr>
			</table>
			<!-- END Left Nav -->
		</td>
		<td valign="top" align="left">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr valign="top" align="left">
					<td>
						<img src="images/ico_t.gif" width="44" height="44" border="0" vspace="5">
					</td>
					<td width="250">
						<img src="images/hd_virtuallibrary.gif" width="163" height="22" border="0" vspace="17">
						<span jwcid="ifImageTitle">
						
						<br clear="left">
						
						<span jwcid="ifLibraryPage">
						<img src="images/hd_mylibrary.gif" width="84" height="18"
						 border="0"><span jwcid="ifShowSlash"><img src="images/hd_slash.gif" 
						 width="19" height="18" border="0"></span></span><img jwcid="subheaderImage" src="images/hd_addnewbooks.gif" border="0"/>
						 
						 </span>
						 
		
						<span jwcid="ifSimpleTitle">
						<h3><span jwcid="insertSimpleTitle">Simple Title</span></h3>
						</span>
					</td>
				</tr>
			</table>

			
			<br>
				
			<span jwcid="renderBody">
			
			<h1>Page Content</h1>
			
			</span>
		
        	<span jwcid="inspectorButton"/>
        		
			</td>
		</tr>

<!-- ****END BODY WRAPPER**** -->

</table>


<!-- ****END FOOTER**** -->
</body>

</span>

</span>

</html>
