<?xml version="1.0"?>
<!--$Id$ -->
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
 "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app>
  <display-name>Tapestry Tutorial</display-name>
  
  <!-- A typical Tapestry WAR will have exactly one servlet.  The Tutorial is actually
       several seperate Tapestry application bundled together.  The framework allows for
       this (you'll notice that each object stored in the ServletContext has a unique
       name to avoid collisions between sibling Tapestry applications.
       
       It's a good idea to load the servlet on startup; this helps get the large
       number of Tapestry classes loaded.
       
       -->
       
  <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>tutorial.hello.HelloWorldServlet</servlet-class>
  	<load-on-startup>0</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>simple</servlet-name>
    <servlet-class>tutorial.simple.SimpleServlet</servlet-class>
  	<load-on-startup>0</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>border</servlet-name>
    <servlet-class>tutorial.border.BorderServlet</servlet-class>
  	<load-on-startup>0</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>hangman</servlet-name>
    <servlet-class>tutorial.hangman.HangmanServlet</servlet-class>
   	<load-on-startup>0</load-on-startup>
  </servlet>

  <servlet>
  	<servlet-name>portal</servlet-name>
  	<servlet-class>tutorial.portal.PortalServlet</servlet-class>
  	<load-on-startup>0</load-on-startup>
  </servlet>

  <servlet>
  	<servlet-name>workbench</servlet-name>
  	<servlet-class>tutorial.workbench.WorkbenchServlet</servlet-class>
  	<load-on-startup>0</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/hello/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>simple</servlet-name>
    <url-pattern>/simple/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>border</servlet-name>
    <url-pattern>/border/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>hangman</servlet-name>
    <url-pattern>/hangman/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>portal</servlet-name>
  	<url-pattern>/portal/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>workbench</servlet-name>
  	<url-pattern>/workbench/*</url-pattern>
  </servlet-mapping>
  
  <session-config>
  	<session-timeout>15</session-timeout>
  </session-config>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
