P  {}

H1  {}

H2  {}

H3  {}

A  {}

A:Visited  {}

A:Active  {}

A:Hover  {}

BODY  {}

TABLE.demo-layout TD  {
	border-style : none;
	margin : 0px;
	padding : 0px;
	border-width : 0px;
}

TABLE.inspector TD  {
	background-color : Silver;
}

TABLE.inspector TH  {
	background-color : Black;
	color : White;
	font-family : sans-serif;
	font-weight : bold;
	text-align : center;
}

SPAN.templatetext  {
	font-size : small;
}

TD.navbar SPAN.pagetitle  {
	color : White;
	font-size : medium;
	font-weight : bold;
}

TD.navbar A:link  {
	font-weight : normal;
	color : White;
}

TD.navbar A:active  {
	color : White;
	font-weight : normal;
}

TD.navbar A:visited  {
	color : White;
	font-weight : normal;
}

SPAN.current-selection  {
	color : Red;
	font-size : medium;
	font-weight : bold;
}

TABLE.exception-display TR.property  {
	top : auto;
	background-color : Silver;
}

TABLE.exception-display TR.property TH  {
	text-align : right;
	font-weight : bold;
}

TABLE.exception-display TR.property TD  {
	text-align : left;
}

TABLE.exception-display TR.stack-trace  {
	font-size : small;
	font-family : sans-serif;
	text-align : left;
}

SPAN.exception-header  {
	font-size : large;
	font-weight : bold;
	color : Red;
}

TABLE.request-context-border  {
	border-width : 1;
	border-color : Black;
}

SPAN.request-context-object  {
	font-size : large;
	font-family : sans-serif;
	font-weight : bold;
	text-align : left;
}

TR.request-context-section TH  {
	font-size : medium;
	font-family : sans-serif;
	font-weight : bold;
	text-align : center;
	color : White;
	background-color : Black;
}

TR.request-context-header TH  {
	font-size : small;
	font-family : sans-serif;
	font-weight : bold;
	text-align : center;
	color : White;
	background-color : Black;
}

TABLE.request-context-object TR.odd TD  {
	text-align : left;
	color : Black;
	background-color : Silver;
}

TABLE.request-context-object TR.odd TH  {
	color : Black;
	background-color : Silver;
	text-align : right;
}

TABLE.request-context-object TR.even TD  {
	text-align : left;
}

TABLE.request-context-object TR.even TH  {
	text-align : right;
}

TABLE.request-context-object  {
	width : 100%;
}

TABLE.request-context-object TR  {
	vertical-align : text-top;
}

