/*  $Id: workbench.css,v 1.1.2.1 2003/01/02 03:15:33 hship Exp $ */

SPAN.label-error
{
  color: Red;
}


INPUT.field-error
{
  color: White;
  background-color: Red;
}

TABLE.inputError TD.message
{
  font-weight: bold;
  font-size: smaller;
}

TABLE.content
{
	background-color: #ffffcc;
  	border-color : Black;
	border-style : solid;
	border-width : thin;
	border-top-width : 0px;
	border-bottom-width : 2px;
	border-right-width : 2px;
	border-left-width : 0px;
	font-size : smaller;
	clear: all;
	width: 700px;
}


TABLE.tabs TD
{
  padding: 0;
}

BODY
{
  background-color: #808080;
  margin: 2px;
  font-family : Trebuchet MS, serif;
}

TABLE.requestDebug
{
	width: 700;
  	border-color : Black;
	border-style : solid;
	border-width : thin;
	border-top-width : 0px;
	border-bottom-width : 2px;
	border-right-width : 2px;
	border-left-width : 0px;
	background-color: #839cd1;
	padding: 0;

}

TABLE.requestDebug TR.control
{
    font-weight: bold;
    font-size: 9pt;
	color : White;
	background-color : #330066;
}

TABLE.requestDebug FORM
{
  margin: 0;
}

TABLE.request-context-border  {
	border-width : 1;
	border-color : Black;

}

SPAN.request-context-object  {
	font-weight : bold;
	text-align : left;
	font-size: 12pt;
}

TR.request-context-section TH  {
	text-align : center;
	color : White;
	background-color : #330066;
}

TR.request-context-header TH  {
	text-align : center;
	color : White;
	background-color : #330066;
}

TABLE.request-context-object TR.odd TD  {
	text-align : left;
	color : Black;
	background-color : Silver;
}

TABLE.request-context-object TR.odd TH  {
	color : Black;
	background-color : Silver;
	text-align : right;
}

TABLE.request-context-object TR.even TD  {
	text-align : left;
}

TABLE.request-context-object TR.even TH  {
	text-align : right;
}

TABLE.request-context-object  {
	width : 100%;
	font-size: 9pt;
}

TABLE.request-context-object TR  {
	vertical-align : text-top;
}

TABLE.form TR
{
   vertical-align: top;
}

TABLE.form TH
{
   font-weight: bold;
   text-align: right;
}

TABLE.form TR.column-header TH
{
	font-weight: bold;
	text-align: center;
}

TABLE.palette TH
{
  font-size: 9pt;
  font-weight: bold;
  color: white;
  background-color: #330066;
  text-align: center;
}

TABLE.palette SELECT
{
  font-weight: bold;
  background-color: #839cd1;
  width: 200px;
}

TABLE.palette TD.controls
{
   text-align: center;
   vertical-align: middle;
   width: 60px;
}

TABLE.form
{
  font-size: 9pt;
}

A.nav
{
  font-family: Trebuchet MS,sans-serif;
  text-decoration:none;
  font-size: 10pt;
  font-weight: bold;
  color: black;
}

A.nav:hover
{
  text-decoration:underline;
}

PRE
{
  font-size: 12pt;
}

UL 
{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
}
