<!-- $Id$ -->

<table>
<tr bgcolor=silver>
	<td colspan=3>Page <jwc id="insertPage"/> of <jwc id="insertPageCount"/></td>
</tr>

<tr>
	<td colspan=3><jwc id="insertWrapped"/></td>
</tr>

<tr bgcolor=silver>
	<td align=left><jwc id="first">&lt;&lt; First</jwc> |
		<jwc id="prev">&lt; Prev</jwc>
	</td>
	
	<td align=center>
		<jwc id="e">
			<jwc id="jump"><jwc id="insertJumpPage"/></jwc>
		</jwc>
	</td>
	
	<td align=right>
		<jwc id="next">Next &gt;</jwc> |
		<jwc id="last">Last &gt;&gt;</jwc>
	</td>
</tr>
</table>
		
