<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.jdt.junit.launchconfig">
    <listAttribute key="org.eclipse.jdt.launching.CLASSPATH">
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;runtimeClasspathEntry containerPath=&quot;JRE_LIB&quot; path=&quot;2&quot;
    sourceAttachmentPath=&quot;JRE_SRC&quot; sourceRootPath=&quot;JRE_SRCROOT&quot; type=&quot;3&quot;/&gt;
"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;runtimeClasspathEntry internalArchive=&quot;/Tapestry/config&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;
"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;runtimeClasspathEntry path=&quot;3&quot; projectName=&quot;Tapestry&quot; type=&quot;1&quot;/&gt;
"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;runtimeClasspathEntry
    internalArchive=&quot;/Tapestry/lib/ext/jakarta-oro-2.0.6.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;
"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;runtimeClasspathEntry internalArchive=&quot;/Tapestry/lib/ext/ejb.jar&quot;
    path=&quot;3&quot; type=&quot;2&quot;/&gt;
"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;runtimeClasspathEntry
    internalArchive=&quot;/Tapestry/lib/ext/javax.servlet.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;
"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;runtimeClasspathEntry
    internalArchive=&quot;/Tapestry/lib/ext/javax.xml.jaxp.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;
"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;runtimeClasspathEntry internalArchive=&quot;/Tapestry/lib/ext/junit.jar&quot;
    path=&quot;3&quot; type=&quot;2&quot;/&gt;
"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;runtimeClasspathEntry internalArchive=&quot;/Tapestry/lib/ext/mckoidb.jar&quot;
    path=&quot;3&quot; type=&quot;2&quot;/&gt;
"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;runtimeClasspathEntry
    internalArchive=&quot;/Tapestry/lib/ext/ognl-2.1.4-opt.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;
"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;runtimeClasspathEntry
    internalArchive=&quot;/Tapestry/lib/ext/commons-logging-1.0.2.jar&quot;
    path=&quot;3&quot; type=&quot;2&quot;/&gt;
"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;runtimeClasspathEntry
    internalArchive=&quot;/Tapestry/lib/ext/org.apache.crimson.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;
"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;runtimeClasspathEntry containerPath=&quot;JBOSS_DIR/client/jboss-j2ee.jar&quot;
    path=&quot;3&quot; type=&quot;3&quot;/&gt;
"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;runtimeClasspathEntry containerPath=&quot;JBOSS_DIR/lib/jboss-jmx.jar&quot;
    path=&quot;3&quot; type=&quot;3&quot;/&gt;
"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;runtimeClasspathEntry containerPath=&quot;JBOSS_DIR/server/all/lib/mail.jar&quot;
    path=&quot;3&quot; type=&quot;3&quot;/&gt;
"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;runtimeClasspathEntry
    internalArchive=&quot;/Tapestry/lib/ext/jcommon-0.6.4.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;
"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;runtimeClasspathEntry
    internalArchive=&quot;/Tapestry/lib/ext/jfreechart-0.9.2.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;
"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;runtimeClasspathEntry internalArchive=&quot;/Tapestry/junit/lib/jdom-b8.jar&quot;
    path=&quot;3&quot; type=&quot;2&quot;/&gt;
"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;runtimeClasspathEntry containerPath=&quot;JBOSS_DIR/lib/jboss-system.jar&quot;
    path=&quot;3&quot; type=&quot;3&quot;/&gt;
"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;runtimeClasspathEntry containerPath=&quot;JBOSS_DIR/lib/jboss-common.jar&quot;
    path=&quot;3&quot; type=&quot;3&quot;/&gt;
"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;runtimeClasspathEntry
    internalArchive=&quot;/Tapestry/lib/ext/commons-lang-1.0.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;
"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;runtimeClasspathEntry
    internalArchive=&quot;/Tapestry/lib/ext/log4j-1.2.6.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;
"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.debug.ui.target_debug_perspective" value="perspective_none"/>
    <stringAttribute key="org.eclipse.debug.ui.target_run_perspective" value="perspective_none"/>
    <booleanAttribute key="org.eclipse.debug.ui.runFavorite" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Tapestry"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="Tapestry/junit"/>
    <booleanAttribute key="org.eclipse.jdt.launching.DEFAULT_CLASSPATH" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.sf.tapestry.junit.TapestrySuite"/>
</launchConfiguration>
