CODE  {
	font-size : 12;
}

/* Top Nav*/
A.clsTopNav  {
	font-weight : bold;
	text-decoration : none;
}

A.clsTopNav:hover  {
	text-decoration : underline;
}

SPAN.clsTopNavOn  {
	font-weight : bold;
	color : #e88700;
}

A.clsTopNavOn  {
	font-weight : bold;
	color : #e88700;
	text-decoration : none;
}

A.clsTopNavOn:hover  {
	text-decoration : underline;
}

/* Forms*/
form  {
	display : block;
	margin-top : 1px;
	margin-bottom : 1px;
}

PRE  {
	font-size : 12px;
}


SPAN.hyper-em
{
	font-style: italic;
	font-weight: bold;
	color: red;
}

SPAN.note
{
	font-style: italic;
}

DIV.right-side-quote  {
	text-align : left;
	float : right;
	width : 350px;
	padding-right : 8px;
	padding-left : 4px;
	font-size : large;
	font-weight : bold;
}

DIV.callout
{
	text-align : center;
	float : right;
	width : 200px;
	padding-right : 8px;
	padding-left : 4px;
	font-weight : bold;
}

SPAN.release  {
	font-weight : bold;
}

BODY  {
	font-family : Trebuchet MS, arial, sans-serif;
}

