/* Styles */
form {
    margin: 0;
    padding: 0;
}

fieldset {
    margin: 1em 0;
    float: left;
}

legend {
    margin-bottom: 0.7em;
    padding: 0 .5em;
    color: #036;
    background: transparent;
    font-size: 1.3em;
    font-weight: bold;
    float: left;
    border-bottom: 1px solid #ccc;;
    padding: 0 .5em;
}

label {
    float: left;
    width: 100px;
    padding: 0 1em;
    text-align: right;
}

fieldset div {
    margin-bottom: .5em;
    padding: 0;
    display: block;
}

fieldset div input,fieldset div textarea {
    width: 150px;
    border-top: 1px solid #555;
    border-left: 1px solid #555;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 1px;
    color: #333;
}

fieldset div select {
    padding: 1px;
}

div.fm-multi div {
    margin: 5px 0;
}

div.fm-multi input {
    width: 1em;
}

div.fm-multi label {
    display: block;
    width: 200px;
    padding-left: 5em;
    text-align: left;
}

#fm-submit {
    clear: both;
    padding-top: 1em;
    text-align: center;
}

#fm-submit input {
    border: 1px solid #333;
    padding: 2px 1em;
    background: #555;
    color: #fff;
    font-size: 100%;
}

input:focus,textarea:focus {
    background: #D6AE33;
    color: #000;
}

fieldset div input:focus,fieldset div textarea:focus {
    border-top: 1px solid #292929;
    border-left: 1px solid #292929; 
}

/* required fields - does not work in IE */
fieldset div.fm-req,fieldset div.fm-hreq {
    font-weight: bold;
}

fieldset div.fm-req label:before,fieldset div.fm-hreq label:before {
    content: "* "; /* does not work in IE */
}

div.fm-hopt,div.fm-hreq {
    clear: none;
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

div.fm-hopt label,div.fm-hreq label {
    width: auto;
    padding-left: 0px;
    padding-bottom: 0.2em;
}

div.fm-hopt input,div.fm-hreq input {
    clear: left;
    float: left;
}

div.fm-hopt select,div.fm-hreq select {
    clear: left;
    float: left;
}

div.fm-hopt a {
    clear: left;
    float: left;
}

#fm-hsubmit {
    text-align: center;
    padding-top: 14px;
    margin-right: 0.5em;
    float: left;
    width:auto;
}

#fm-hsubmitsec {
    text-align: center;
    padding-top: 14px;
    margin-right: 0.5em;
    float: left;
}

#fm-hsubmit input {
    border: 1px solid #292929;
    padding: 2px 1em;
    background: #2A78B0;
    color: #fff;
    font-size: 100%;
    float: left;
    clear: left;
    width:auto;
}

#fm-hsubmitsec input {
    border: 1px solid #aaaaaa;
    padding: 2px 1em;
    background: #D4D4D4;
    color: #555555;
    font-size: 100%;
    float: left;
    clear: left;
}

#fm-hsubmit .dialog,#fm-hsubmitsec .dialog {
    float: right;
}