@import url("undohtml.css");  /* CSS to undo some default browser css that gets in the way more than it helps */
@import url("dojo.css");
@import url("forms.css");

body {
    width: auto;
    margin-left: 3%;
}

body, td, th {
    font-family: Lucida Grande, Tahoma, Verdana, Arial, sans-serif;
    font-size: 9pt;
    color: #292929;
    margin-left: 3%;
}

p {
    margin-bottom: 8px;   
}

.even {
    background-color: #f0f0f0;
}

.odd {
    background-color: #f9f9f9;
}

#header {
    border-bottom: 2px solid #D6D6D6;
    height: 5em;
}

.headertxt {
    font-size: 26pt;
    letter-spacing: 0.2em;
    color: #2A78B0;
    position:fixed;
    display:block;
}

#navigation {
    background: #215E8A;
    display:block;
    float:left;
    clear:both;
    width:100%;
}

#navigation ul li {
    display: block;
    float: left;
    list-style: none;
    margin-right: 5px;
}

#navigation ul li {
    
}

#navigation ul li a {
    text-decoration: none;
    padding-right: 5px;
    padding-left: 5px;
    padding-top:6px;
    padding-bottom: 3px;
    display: block;
    color: #D6D6D6;
    font-weight: bold;
}

#navigation ul li a:hover {
    background: #D6AE33;
    color: #292929;
}

#navigation ul li a.here {
    background: #2A78B0;
}

#content {
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
    float:left;
    clear:both;
}