div.fm-hopt table.dojoComboBox {
    width: 20em;
    display: block;
    float: left;
    clear: left;
}

#debug {
    display: block;
    height: 80px;
    width: 50%;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    position: absolute;
    overflow: auto;
    left: 0px;
    bottom: 0px;
    text-align: left;
    padding: 3px;
    padding-right: 0;
    color: #000;
    font: 9px lucida grande, Arial, Verdana;
    z-index: 2000;
    opacity: 0.8;
    filter: alpha(opacity : 80);
    background: #eef1f8;
}

.timePickerContainer {
	background: #7591bc url("images/dpBg.gif") top left repeat-x;
}

.timeContainer thead tr td {
	border-bottom:1px solid #e6e6e6;
	margin:0;
	padding:0.45em 0 0.45em 0;
	color:#fff;
	font:bold 0.75em Helvetica, Arial, Verdana, sans-serif;
	text-align:center;
}
