<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >

<suite name="Tapestry Core Framework" verbose="3"  parallel="true" thread-count="4">

    <test name="Threaded Services" parallel="true">
        <groups>
            <run>
                <include name="threaded" />
            </run>
        </groups>
        
        <packages>
            <package name="org.apache.tapestry.services.impl.*" />
        </packages>
    </test>

</suite>

