H1, H2, H3,H4 {
	border-bottom:2px solid #156e6a;
	float: left;
}

H2 {
	clear: both;
}

#navcontainer {
	float: left;
	clear: both;
}

ul#navlist
{
	font: bold 11px verdana, arial, sans-serif;
	list-style-type: none;
	padding-bottom: 24px;
	border-bottom: 1px solid #125E5A;
	margin: 0;
}

ul#navlist li
{
	float: left;
	height: 21px;
	background-color: #8BB7B5;
	margin: 2px 2px 0 2px;
	border: 1px solid #125E5A;
}

li#active a
{
	border-bottom: 1px solid #fff;
	background-color: #fff;
}

li#active a { color: #000; }

#navlist a
{
	float: left;
	display: block;
	color: #000000;
	text-decoration: none;
	padding: 4px;
}

#navlist a:hover { background: #fff; }


SPAN.label-error
{
  color: Red;
}

label.error {
	color: red;
	font-style: oblique;
}

.field-error
{
  color: White;
  background-color: Red;
}

TABLE {
	float: left;
	clear: left;
}

TABLE.inputerror TD.message
{
  font-weight: bold;
  font-size: smaller;
}

TABLE.content
{
  	border-color : Black;
	border-style : solid;
	border-width : thin;
	border-top-width : 0px;
	border-bottom-width : 2px;
	border-right-width : 2px;
	border-left-width : 0px;
	font-size : smaller;
	clear: all;
	width: 700px;
	float: left;
     -moz-border-radius: 5px;
}


TABLE.tabs TD
{
  padding: 0px;
}

BODY
{
  background-color: #ffffff;
  margin: 8px;
}

body, td, th {
  font-family: Lucida Grande, Tahoma, Verdana, Arial, sans-serif;
  font-size: 9pt;
}

TABLE.requestDebug
{
	width: 700;
  	border-color : Black;
	border-style : solid;
	border-width : thin;
	border-top-width : 0px;
	border-bottom-width : 2px;
	border-right-width : 2px;
	border-left-width : 0px;
	background-color: #839cd1;
	padding: 0;
	float: left;
}

TABLE.requestDebug TR.control
{
    font-weight: bold;
    font-size: 9pt;
	color : White;
	background-color : #330066;
}

TABLE.requestDebug FORM
{
  margin: 0;
}

DIV.described-object-title
{
  font-size: large;
  font-weight: bold;
  color: white;
  background-color: black;
}

TABLE.described-object  
{
  border: 1px solid black;
  width: 100%;
}


TABLE.described-object TR.section TH
{
  color: white;
  background-color: black;
  text-align: center;
}

TABLE.described-object TR.odd
{
  background-color: silver;
}

TABLE.described-object TR.even
{
  background-color: #839cd1;
}

TABLE.described-object TH
{
  text-align: right;
  width: 1px; // Will stretch to fit.
}

TABLE.form TR
{
   vertical-align: top;
}

TABLE.form TH
{
   font-weight: bold;
   text-align: right;
}

TABLE.form TR.column-header TH
{
	font-weight: bold;
	text-align: center;
}

TABLE.palette TH
{
  font-size: 9pt;
  font-weight: bold;
  color: white;
  background-color: #330066;
  text-align: center;
}

TABLE.palette SELECT
{
  font-weight: bold;
  background-color: #839cd1;
  width: 200px;
}

TABLE.palette TD.controls
{
   text-align: center;
   vertical-align: middle;
   width: 60px;
}

TABLE.form
{
  font-size: 9pt;
}

A.nav
{
  font-family: Trebuchet MS,sans-serif;
  text-decoration:none;
  font-size: 12px;
  font-weight: bold;
  color: black;
}

A.nav:hover
{
  text-decoration:underline;
}

PRE
{
  font-size: 12pt;
}

UL 
{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
}

IMG
{
  border: none;
}

