# This file is used to configure the Tapestry build.
# Copy it as "build.properties" and fill in the necessary data.

# The absolute path to the directory containing the HiveMind
# build scripts, i.e., c:/hivemind-1.0/hivebuild
hivebuild.dir=

# The absolute path to the directory containing the JBoss installation.
# Required to execute the configure and run-jboss targets.
jboss.dir=

# The absolute path to the directory containing the Jetty installation.
# Required to execute the run-workbench target.
jetty.dir=

# Absolute path to dojo source installation buildscripts directory.
# ie: /home/<username>/dojo/buildscripts
#dojo.dir=
