# $Id$
# This file is used to configure the Tapestry build.
# Copy it as "build.properties" and fill in the necessary data.

# The absolute path to the directory containing the JBoss installation.
jboss.dir=

# The absolute path to the directory containing the Tomcat installation.
tomcat.dir=

# The absolute path to the directory containing the Jetty installation.
jetty.dir=

# The absolute path to the directory containing external distributions
# needed by Tapestry (but not included due to licence conflict).
# To run the demos, the following files are needed in the directory:
# mckoidb*.jar			http://www.mckoi.com/database/		(version 0.94h)
# jcommon*.jar			http://www.object-refinery.com/jcommon/
# jfreechart*.jar		http://www.object-refinery.com/jfreechart/

tapestry.ext.dir=
