/// ====================================================================== ///
//                                                                          //
//  JBoss Security Policy                                                   //
//                                                                          //
/// ====================================================================== ///

// $Id$

grant {
   // Allow everything for now
   permission java.security.AllPermission;
};
