.dojoAccordionPane .label {
	border: thick ridge gray;
	background: gray;
	color: #fff;
	font-weight: bold;
}

.dojoAccordionPane-selected .label {
	background: #336699;
	border: thick ridge #336699;
}

.dojoAccordionPane .label :hover {
	cursor: pointer;
}

.dojoAccordionPane .accBody {
	background: #ededed;
	overflow: auto;
}