.dojoButtonContents {padding: 0px;text-align: center;vertical-align: middle;white-space: nowrap;color: inherit;}
.dojoButtonContents * {text-align: center;vertical-align: middle;}
.dojoButtonContentsDropDown {padding-right: 3px;}
.dojoButtonDownArrowBackground {padding-left: 2px;padding-right: 2px;}
.dojoButtonDownArrowBorder {border: 1px solid white;}
.dojoButtonDownArrow {width: 0px;height: 0px;line-height: 0px !important;border-style: solid dotted none dotted;border-color: black transparent transparent transparent;border-width: 6px 5px 0px 5px;}
.dojoButton[popupActive] .dojoButtonDownArrow,.dojoButtonDownArrowBackground[popupActive] .dojoButtonDownArrow,.dojoButton:active .dojoButtonDownArrow {border-top-color: white;}
.dojoButton {font-family: Myriad, Arial, Helvetica;font-weight:normal;margin:0 3px;padding:3px;;white-space: nowrap;cursor: pointer;color: invert;background-color:#e1e1e1;vertical-align: middle;overflow: visible;}
.dojoButton:hover {cursor: pointer;color:#0e4978;background-color:#e9e9e9;}
.dojoButton[popupActive],.dojoButtonDownArrowBackground[popupActive],.dojoButton:active {border-style: inset !important;color:white;background-color:gray;}
.dojoButton[disabled] {cursor: default;cursor: url("images/no.gif"), default;opacity: 0.3;filter: alpha(opacity=30);}