<fieldset class="dojoSpinner"
	><input dojoAttachPoint='textbox' type='${this.type}'
		dojoAttachEvent='onblur;onfocus;onkey:_handleKeyEvents;onKeyUp:_onSpinnerKeyUp;'
		id='${this.widgetId}' name='${this.name}' size='${this.size}' maxlength='${this.maxlength}'
		value='${this.value}' class='${this.className}' autocomplete="off"
	><fieldset class="dojoSpinnerArrowGroup"
                ><fieldset dojoAttachPoint="upArrowNode" class="dojoSpinnerButton"
			dojoAttachEvent="onDblClick: _upArrowDoubleClicked;  onMouseDown: _upArrowPressed; onMouseUp: _arrowReleased; onMouseOut: _arrowReleased; onMouseMove: _discardEvent;"
                        ><div class="dojoSpinnerArrow"
                                ><div class="dojoSpinnerUpArrow"></div
                        ></div
                ></fieldset
                ><fieldset dojoAttachPoint="downArrowNode" class="dojoSpinnerButton"
			dojoAttachEvent="onDblClick: _downArrowDoubleClicked;  onMouseDown: _downArrowPressed; onMouseUp: _arrowReleased; onMouseOut: _arrowReleased; onMouseMove: _discardEvent;"
                        ><div class="dojoSpinnerArrow"
                                ><div class="dojoSpinnerDownArrow"></div
                        ></div
                ></fieldset
	></fieldset
	><span dojoAttachPoint='invalidSpan' class='${this.invalidClass}'>${this.messages.invalidMessage}</span
	><span dojoAttachPoint='missingSpan' class='${this.missingClass}'>${this.messages.missingMessage}</span
	><span dojoAttachPoint='rangeSpan' class='${this.rangeClass}'>${this.messages.rangeMessage}</span
></fieldset>

