.dojoSpinner {display:inline;vertical-align:middle;border:1px solid;border-color:black rgb(200,200,200) rgb(200,200,200) black;padding:0px;white-space:nowrap !important;font-size:10pt;}
.dojoSpinnerArrowGroup {display:inline;padding:0px;border:0px;margin: 0px;vertical-align:middle;line-spacing:0px !important;width:1.12em;}
.dojoSpinnerArrowGroup fieldset {display:block;padding:.1em;margin: .08em;vertical-align:middle;line-spacing:0px !important;border:.08em outset;border-color:rgb(200,200,200) black black rgb(200,200,200);text-align:center;}
.dojoSpinnerArrowGroup fieldset.dojoSpinnerButtonPushed {border-style:inset;border-color:black rgb(200,200,200) rgb(200,200,200) black;background-color:gray;}
.dojoSpinner input {padding:0px;vertical-align:middle;margin:auto;border:0px;padding:0px;position:static;display:inline;float:none;visibility:visible;font-size:100%;}
.dojoSpinnerArrow {padding:0px;margin:auto;border:0px;overflow:hidden;height:0.4em;width:0.6em;}
.dojoSpinnerArrow div {border-style:solid dotted;border-color:gray transparent;line-height:0px;height:0px;width:0px;}
.dojoSpinnerUpArrow {border-width:0em .3em .4em .3em;}
.dojoSpinnerDownArrow {border-width:.4em .3em 0em .3em;}
.dojoSpinnerButtonPushed .dojoSpinnerArrow div {border-color:white transparent;}
