/* $Id$*/
IMG  {
	border : 0;
}

BODY, TABLE, TD, P  {
	font-family : verdana, arial, helvetica, sans-serif;
	font-size : 12px;
}

/* CR Examples*/
TABLE.EXAMPLES  {
	background-color : Silver;
}

/* CR Examples JWCID*/
SPAN.JWCID  {
	font-weight : bold;
}

/* CR Examples Type*/
SPAN.TYPE  {
	font-weight : bold;
}

